.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(234, 153, 153, 0.004);
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* backdrop-filter: blur(5px); */
  transition: background-color 0.3s ease;
}

.header Button {
  margin-right: 2%;
  transition: margin-right 0.3s ease;
}

.header h2 {
  /* backdrop-filter: blur(3px); */
  /* background-color: rgb(247, 164, 87); */
  /* text-decoration: underline; */
  text-shadow: 5px 1px 3px rgb(0, 0, 0);
  font-size: 38px;
  color: #f2f2f2;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  transition: color 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
}

.listfull:hover {
  border: 2px solid white;
  transition: border 0.6s ease;
}

.listfull {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 5px;
  width: 100%;
  /* margin-top: 100px; */
  margin: 20px;
  /* margin-right: 100px; */
  border-radius: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.764);
  /* backdrop-filter: blur(20px); */
  background-color: rgba(0, 0, 0, 0.429);
  transition: border-radius 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.heading {
  font-weight: bold;
  font-size: 23px;
  margin-right: 5px;
  color: rgb(47, 180, 54);
  transition: color 0.3s ease;
}

.value {
  font-weight: medium;
  font-size: 14px;
  margin-right: 20px;
  color: rgb(25, 190, 255);
  transition: color 0.3s ease;
}
