.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(234, 153, 153, 0.004); /* Red background color */
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* backdrop-filter: blur(5px); */
}

.header Button {
  margin-right: 2%;
}

.header h2 {
  backdrop-filter: blur(3px);
  /* background-color: rgb(247, 164, 87); */
  border-radius: 15px;
  font-size: 38px;
  color: #f2f2f2; /* A mix of red and rose colors */
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); Shadow effect */
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.listfull:hover {
  border: 2px solid white;
}

.listfull {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 20px;
  width: 100%;
  margin: 20px;
  /* margin-right: 100px; */
  border-radius: 80px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.764);
  backdrop-filter: blur(20px);
  background-color: rgba(207, 124, 124, 0);
}
.heading {
  font-weight: bold;
  font-size: 23px;
  margin-right: 5px;
  color: white;
}

.value {
  font-weight: medium;
  font-size: 14px;
  margin-right: 20px;
  color: white;
}
