/* ================================================================================================================================= */

.close {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);

  position: relative;
  left: 93%;
  padding: 0px;
  margin: 5px;
  text-align: center;
  outline: 0;
  border: none;
}

.close svg polygon {
  fill: #000000;
  border: none;
  outline: 0;
}

.close svg {
  width: 15px;
  height: 15px;
  border: none;
  outline: 0;
}

.close:hover {
  background-color: #f14b4b;
  border-radius: 20px;
}
