.box {
  width: 100%;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.heading {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.value {
  font-weight: medium;
  font-size: 14px;
  margin-right: 20px;
}
